/*
===ELEMENTS CLASSES===
*/

body {
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar {
    background-color: pink;
}

.content {
    background-color: greenyellow;
}

.header {
    background-color: lightblue;
}

.cardholder {
    padding: 10px;
}

.card {
    background-color: #ffffff;
}

/* 
===GRID ELEMENTS===
*/

.container {
    display: grid;
    grid-template-areas: 'sidebar header header header header'
    'sidebar content content content content';
    gap: 10px;
}

/*
Sidebar Grid.
*/
.sidebar {
    grid-area: sidebar;

    display: grid;
    /* Make a grid here for nav elements */

}

/*
Header Grid.
*/
.header {
    grid-area: header;

    display: grid;
    grid-template-areas: 'top'
    'bottom';
}

.top {
    grid-area: top;
}

.bottom {
    grid-area: bottom;
}

/*
Main Content grid.
*/
.content {
    grid-area: content;

    display: grid;
    grid-template-areas: 'left left left right'
    'left left left right';
}

.left {
    grid-area: left;
}

.cardholder {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.right {
    grid-area: right;
}