/*
===ELEMENTS CLASSES===
*/

body {
    margin: auto;
    height: auto;
    width: auto;
    background-color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar {
    background-color: blue;
    height: auto;
    width: auto;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}

.logo img {
    height: 50%;
    filter: invert(1);
}

.header {
    background-color: #ffffff;
    height: auto;
    width: auto;
}

.container {
    height: auto;
    width: auto;
}

.content { 
    height: auto;
    width: auto;
}

.right {
    margin: 10px;
}

.left {
    margin: 10px;
}

.projects {
    padding: 10px;
}

.project {
    background-color: #ffffff;
}

.updates {

}

.update {

}

.people {
    
}

.person {

}

/* 
===GRID ELEMENTS===
*/

body {
    display: grid;
    grid-template: 100% / 20% 80%;
}

/*
Header Grid.
*/
.header {


    display: grid;
    grid-template-areas: 'top'
    'bottom';
}

/*
Sidebar Grid.
*/
.sidebar {


    display: grid;
    grid-template-rows: 10% 30% 60%;

}

/*
Container Grid
*/
.container {
    display: grid;
    grid-template: 30% 70%;
}

/*
Header Grid
*/
.header {

}

/*
Content Grid
*/
.content {
    display: grid;
    grid-template: 100% / 75% 25%;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 200px);
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
}

.updates {
    display: grid;
    grid-template: 100% / 50% 50%;
    gap: 10px;
}

.people {

}