
body {
    margin: auto;
}

/*
===ELEMENTS CLASSES===
*/






/* 
===GRID ELEMENTS===
*/

.container {
    display: grid;
    grid-template-areas: 'sidebar header header header header'
    'sidebar content content content content';
    gap: 10px;
}

/*
Sidebar Grid.
*/
.sidebar {
    grid-area: sidebar;
    background-color: pink;
}

/*
Header Grid.
*/
.header {
    grid-area: header;
    background-color: lightblue;

    display: grid;
    grid-template-areas: 'top'
    'bottom';
}

.top {
    grid-area: top;
}

.bottom {
    grid-area: bottom;
}

/*
Main Content grid.
*/
.content {
    grid-area: content;
    background-color: greenyellow;

    display: grid;
    grid-template-areas: 'left left left right'
    'left left left right';
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}