/* General Styling */

body {
    margin: 0px;
    background-color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;
    grid-template: 1fr 6fr / 1fr 4fr;
}

/*  Aside Styling   */

aside {
    background-color: blue;
    padding: 10px;

    display: grid;
    grid-row: 1/3;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

.logo img {
    height: 50px;
    filter: invert(1);
}

nav a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    text-indent: 15px;
    text-decoration: none;
    color: #ffffff;
}

a[title="Settings"] {
    margin-top: 20px;
}

nav img {
    width: 30px;
    filter: invert(1);
    margin-left: 10px;
}

/* Header Styling */

header {
    background-color: #ffffff;

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

header img {
    height: 25px;
}

/* Main Styling */

main {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.title {
    grid-column: 1 / -1;
}

.projects {
    padding: 10px;

    grid-row: 1 / span 2;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
}

.project {
    background-color: #ffffff;
}

.annoucements {
    grid-column: 2;
}

.annoucement {

}

.trends {

}

.trend {

}


